


* {
     
	  box-sizing: border-box;
	}
 
  #nn{
    display: inline-block;
    position: relative;
    left: 500px;
    
  }
	
/* .h {
     
	  background: black;
	  color: white;
	  padding: 50px;
	  text-align: center;
   }	 */

/* .f {
      
	  background: black;
	  color: white;
	  padding: 50px;
	  text-align: center;
   }   */
   .deco{
    transition-property:transform;
    transition-duration: 1s;
    transition-timing-function:linear ;
    color: #4fdb74;
   } 
   .deco:hover{
    transform: scale(1.8);
    color: #db1d5f;
   }


.p::after {
                content: "";
                clear: both;
                display: block;
            }
			
[class*="col-"] {
                    float: left;
                    padding: 15px;
                }
    
/* for mobile */	
	
	[class*="col-"] {
                        width: 100%;                
                    }				  


.adjwidth{
    width: 98%;
}

* {
     
    box-sizing: border-box;
  
  }

  @media only screen and (max-width: 686px) {
   
    .mobil{
      display: inline-block;
      position: absolute;
      left: 15px;
    }
    .moba{
      
      padding: 15px;
      margin-left: -15px;
    }
    #nn{
      display: inline-block;
      position: relative;
      left: 150px;
      bottom: 60px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .autoWidthVideo{
      width: auto;
    }
    
       
 
  }

 
@media only screen and (min-width:900px){

  .col-x-1 {width: 8.33%;}
  .col-x-2 {width: 16.66%;}
  .col-x-3 {width: 25%;}
  .col-x-4 {width: 33.33%;}
  .col-x-5 {width: 41.66%;}
  .col-x-6 {width: 50%;}
  .col-x-7 {width: 58.33%;}
  .col-x-8 {width: 66.66%;}
  .col-x-9 {width: 75%;}
  .col-x-10 {width: 83.33%;}
  .col-x-11 {width: 91.66%;}
  .col-x-12 {width: 100%;}
  
  .autoWidthVideo{
    width: auto;

}		
.xx{
  width: fit-content;
}
      
}
                        

                      /* for desktop */  
@media only screen and (min-width:1200px){

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
        

}