#hilight{
  background-color: black;
  margin-left: -12
}
#navbartop{
  background-color: grey;
  color: #fff;
}
.navcontent{
  color: #fff !important;
  font-weight: 500 !important;
  padding-left: 15px !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#heading{
  display: flex;
  justify-content: center;
  position: relative;
  
  margin:0.3%;
  padding: 0.5%;
  
  
}
marquee {
 color: #333;
}

.effect{
  transition-property: transform,z-index;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.effect:hover{
  transform:scale(1.8);
  z-index: 1;
}
.icon{
    display: inline-block;
    position: relative;
    left: 20rem;
}


.contactUs{
  border-radius: 5px;
  background-image: url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
}
.adj{
  margin-left: 45px;
}
.bottomWhite{
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.cont{
  color: #fff;
  font-weight: 700;
}
.develope{
    display: inline-block;
    position: absolute;
    left: 12px;
    justify-content: left; 
    padding-top: 35px;
    color:aquamarine;
}
.develope h5{
  font-size: 15px;
}

